@model UniversityWebsite.ViewModels.Layout.LanguageSwitcherViewModel


<button href="#" data-dropdown="langs" aria-controls="langs" aria-expanded="false" class="button dropdown">Lang</button>
<ul id="langs" data-dropdown-content class="f-dropdown" aria-hidden="true">

    @foreach (var language in Model.Languages)
    {
        <li>
        @{
            string href = null;
            if (language.IsPage)
            {
                href = Url.Action("Index", "Page", new {pagename = language.Page});
            }
            else
            {
                href = Url.Action(language.Action, language.Controller, new { pagename = language.Page });
            }
        }
            <a class="ext_link" href="@href" title="@language.CountryCode">@language.CountryCode</a>
        </li>
    }
</ul>
    @*<ul>

        @foreach (var language in Model.Languages)
        {
            <li>
            @{
                string href = null;
                if (language.IsPage)
                {
                    href = Url.Action("Index", "Page", new {pagename = language.Page});
                }
                else
                {
                    href = Url.Action(language.Action, language.Controller, new { pagename = language.Page });
                }
            }
                <a class="ext_link" href="@href" title="@language.CountryCode">@language.CountryCode</a>
            </li>
        }

    </ul>*@

