<!DOCTYPE html>
@{
    var mainMenuViewModel = ViewData["menu"];
    var languageSwitcherViewModel = ViewData["langSw"];
}
<html class="no-js">
<head>
    @*Set the viewport width to device width for mobile *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    @RenderSection("head", required: false)
    @Styles.Render("~/Content/foundation/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    <title>@ViewBag.Title</title>
    @RenderSection("Styles", false)
</head>


<body>
    <div class="container light-color">
        <div class="row ">
            <div class="large-3 columns">
                <h1><a href="@Url.Action("Index", "Home")"><img src="https://www.pw.edu.pl/design/pl_mob_merge/images/pw_logo_naglowek.png" /></a></h1>
            </div>
            @{
                Html.RenderPartial("_MainMenu", mainMenuViewModel);
            }
        </div>
    </div>
      
    <div class="row">
        <div class="large-12 columns">
            <div id="slider">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/01/Polish_Wikinews_header_image.png"/>
            </div>
            <hr/>
        </div>
    </div>

    <div class="row light-color">
        <div class="large-12 columns">
            @RenderBody()
        </div>
    </div>


    @*<div class="row">
        <div class="large-12 columns">
        
            <div class="panel">
                <h4>Get in touch!</h4>
                
                <div class="row">
                    <div class="large-9 columns">
                        <p>We'd love to hear from you, you attractive person you.</p>
                    </div>
                    <div class="large-3 columns">
                        <a href="#" class="radius button right">Contact Us</a>
                    </div>
                </div>
            </div>
          
        </div>
    </div>*@
     
    <footer class="row">
        <div class="large-12 columns">
            <hr/>
            <div class="row">
                <div class="large-6 columns">
                    <p>© Copyright no one at all. Go to town.</p>
                </div>
                <div class="large-6 columns">
                  <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                  </ul>
                </div>
            </div>
        </div> 
    </footer>
    
    
    @Scripts.Render("~/bundles/foundation")
    @RenderSection("Scripts", false)
<script>
    $(document).foundation();
</script>

<script> //TODO: zrobic cos z tym
$(document).foundation({
    accordion: {
        // specify the class used for accordion panels
        content_class: 'content',
        // specify the class used for active (or open) accordion panels
        active_class: 'active',
        // allow multiple accordion panels to be active at the same time
        multi_expand: true,
        // allow accordion panels to be closed by clicking on their headers
        // setting to false only closes accordion panels when another is opened
        toggleable: true
    }
});
</script>
</body>

</html>
