<!DOCTYPE html>
@{
    var mainMenuViewModel = ViewData[Consts.MainMenuKey];
}
<html class="no-js">
<head>
    @*Set the viewport width to device width for mobile *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @RenderSection("head", required: false)
    @Styles.Render("~/Content/foundation/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    <title>@ViewBag.Title</title>
    @RenderSection("Styles", false)
    <style>
        #main-menu .top-bar, #main-menu .top-bar-section li:not(.has-form) a:not(.button) {
            background: #003C58;
        }

        #nav-menu .top-bar, #nav-menu .top-bar-section li:not(.has-form) a:not(.button) {
            background: #003366;
        }

        #main-menu .top-bar .name h1 a:before {
            background-image: url('https://www.pw.edu.pl/design/pl_mob_merge/images/pw_logo_naglowek.png');
            background-repeat: no-repeat;
            content: "";
            display: inline-block;
            height: 45px;
            margin-right: 10px;
            position: relative;
            width: 196px;
            background-size: 100%;
        }
    </style>
</head>

<body>
    <div class="row" id="main-menu">

        @if (mainMenuViewModel != null)
        {
            Html.RenderPartial("_MainMenu", mainMenuViewModel);
        }
    </div>


    <div class="row">
        <div id="slider">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/01/Polish_Wikinews_header_image.png" />
        </div>
    </div>

    <div class="row light-color">
        @RenderBody()
    </div>


    @*<div class="row">
        <div class="large-12 columns">
        
            <div class="panel">
                <h4>Get in touch!</h4>
                
                <div class="row">
                    <div class="large-9 columns">
                        <p>We'd love to hear from you, you attractive person you.</p>
                    </div>
                    <div class="large-3 columns">
                        <a href="#" class="radius button right">Contact Us</a>
                    </div>
                </div>
            </div>
          
        </div>
    </div>*@

    <footer class="row">
        <hr />
        <div class="large-6 columns">
            <p>© Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
            <ul class="inline-list right">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
            </ul>
        </div>
    </footer>
    @Scripts.Render("~/bundles/foundation")
    @RenderSection("Scripts", false)
    <script>
        $(document).foundation();
    </script>

    <script> //TODO: zrobic cos z tym
        $(document).foundation({
            accordion: {
                // specify the class used for accordion panels
                content_class: 'content',
                // specify the class used for active (or open) accordion panels
                active_class: 'active',
                // allow multiple accordion panels to be active at the same time
                multi_expand: true,
                // allow accordion panels to be closed by clicking on their headers
                // setting to false only closes accordion panels when another is opened
                toggleable: true
            }
        });
    </script>
</body>

</html>
