@{
    var logOffString = GetPhrase("logOff");
    var logInString = GetPhrase("logIn");
    var manageString = GetPhrase("manage");
}
@if (Request.IsAuthenticated)
{
        <li class="not-click">
        <a href="#">@User.Identity.Name.Substring(0, User.Identity.Name.IndexOf('@'))</a>
    </li>
    if (User.IsInRole(Consts.AdministratorRole))
    {
    <li><a href="@Url.Action("Index", "Admin")">@manageString</a></li>
    }
   
    
    <li class="has-form">
        <div class="row collapse">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a class="alert button expand" href="javascript:document.getElementById('logoutForm').submit()">
                    @logOffString
                </a>
            }
        </div>
    </li>
}
else
{   
    <li class="has-form">
        <div class="row collapse">
            <a class="alert button expand" href="@Url.Action("Login", "Account")" id="loginLink">@logInString</a>
        </div>
    </li>
}
