@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @*<li><a href="@Url.Action("General", "Manage")" class="button">@User.Identity.GetUserName()</a></li>*@
    <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a class="button" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </li>
}
else
{       <li><a class="button" href="@Url.Action("Login", "Account")" id="loginLink">Log in</a></li>
        @*<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
}
