@model UniversityWebsite.ViewModels.MenuViewModel
@{
    var languageSwitcherViewModel = ViewData["langSw"];
}
<nav class="main-menu large-9 columns">
    <ul class="right button-group"> 
        @*<li id="home"><a href="stronaglowna"><i class="icon-home"></i></a></li>*@

        <li><a href="@Url.Action("Index", "Home")" class="button">Home</a></li>

        

        @foreach (var menuItem in Model.MenuItems)
        {
            
            <li>
            @{
                string href = Url.Action("Index", "Page", new {pagename = menuItem.Href});
            }
                <a class="button" href="@href" title="@menuItem.Title">@menuItem.Text</a>
            </li>
        }

        @*<li><a href="@Url.Action("Register", "Account")" class="button">Register</a></li>*@
        
        @Html.Partial("_LoginPartial")
        
        @{
            Html.RenderPartial("_LanguageSwitcher", languageSwitcherViewModel);
        }
        
    </ul>

</nav>
