@model UniversityWebsite.Model.Menu.MenuViewModel
@{
    var languageSwitcherViewModel = ViewData["langSw"];
}
<nav class="main-menu large-9 columns">
    <ul class="right button-group"> 
        
        @foreach (var menuItem in Model.MenuItems)
        {
            <li>
            @{
                string href = Url.Action("Index", "Page", new {name = menuItem.Href});
            }
                <a class="button" href="@href" title="@menuItem.Title">@menuItem.Text</a>
            </li>
        }

        @*<li><a href="@Url.Action("Register", "Account")" class="button">Register</a></li>*@
        
        @Html.Partial("_LoginPartial")
        
        @{
            Html.RenderPartial("_LanguageSwitcher", languageSwitcherViewModel);
        }
        
    </ul>

</nav>
