@model UniversityWebsite.Model.Menu.MainMenuViewModel
@{
    string homeString = GetPhrase("home");
    string teachingString = GetPhrase("teaching");
    string forumString = GetPhrase("forum");
}

<nav class="top-bar" data-topbar="" role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="@Url.Action("Index", "Home")">
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

    <section class="top-bar-section">

        <!-- Top Bar Left Nav Elements -->
        <ul class="left">
                        <li>
                @Html.ActionLink(teachingString, "Index", "Teaching", null, null)
            </li>
            <li>
                <a href="/Forum">@forumString</a>
            </li>
            @foreach (var menuItem in Model.MainMenuItems)
            {
                <li>
                    @Html.ActionLink(menuItem.Title, "Index", "Page", new { name = menuItem.UrlName }, null)
                </li>
            }
        </ul>

        <!-- Top Bar Right Nav Elements -->
        <ul class="right">
            <!-- Divider -->

            @if (Model.LanguageMenu != null)
            {
                            <li class="divider"></li>

                Html.RenderPartial("_LanguageSwitcher", Model.LanguageMenu);
            }

                        <li class="divider"></li>
            
            @Html.Partial("_LoginPartial")


        </ul>
    </section>
</nav>
