@using System.Web.Mvc

@helper ImageTile(string href, string title, string imageUrl, Action action)
{
    <div class="small-6 medium-4 columns columns-align-left tile">
        <div class="card">
            <div class="image">
                <a href="@href">
                    <img style="max-height: 100px" src="@imageUrl">
                </a>
                <span class="title">@title</span>
            </div>
            <div class="content">
                @if (action != null)
                {
                    action();
                }
            </div>
        </div>
    </div>
}

@helper ImageTile(string href, string title, string imageUrl, string content = null)
{
    <div class="small-6 medium-4 columns columns-align-left tile">
        <div class="card" data-equalizer-watch="tile">

            <div class="image">
                <a href="@href">
                    <img src="@imageUrl">
                </a>
                <span class="title">@title</span>
            </div>

            <div class="content">
                @content
            </div>
        </div>
    </div>
}


@helper TextTile(string href, string title, Action action = null)
{
    <div class="small-6 medium-4 columns columns-align-left tile">
        <div class="card">
            <div class="content">
                <div class="title" style="padding-bottom: 1rem; padding-top: 1rem;">
                    <a href="@href" class="title">@title</a>
                </div>
                <div>
                    @if (action != null)
                    {
                        action();
                    }
                </div>
            </div>
        </div>
    </div>
}


