@model UniversityWebsite.Model.SubjectVm
@{
    Layout = null;
}

@{
    string newsString = GetPhrase("news");
    string scheduleString = GetPhrase("schedule");
    string syllabusString = GetPhrase("syllabus");
    string filesString = GetPhrase("files");
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
    </style>
}

<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="@Url.Action("Index", "Home")"><i class='fi-home'></i></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="right"></ul>

        <ul class="left">
            <li><a href="#@newsString">@newsString</a></li>
            <li><a href="#@scheduleString">@scheduleString</a></li>
            <li><a href="#@syllabusString">@syllabusString</a></li>
            <li><a href="#@filesString">@filesString</a></li>
        </ul>
    </section>
</nav>

<h2>@Model.Name</h2>
@if (Model.News.Count > 0)
{
    <div class="accordion" data-accordion role="tablist">
        <div class="accordion-navigation">
            <a href="#newsPanel" role="tab" id="newsPanel-heading" aria-controls="newsPanel">@newsString</a>
            <div id="newsPanel" class="content active" role="tabpanel" aria-labelledby="newsPanel-heading">
                @foreach (var news in Model.News)
                {
                    Html.RenderPartial("Sections/_News",news);
                }
                <a>ZOBACZ WSZYSTKIE</a>
            </div>
        </div>
    </div>
}
@if (!string.IsNullOrEmpty(Model.Schedule))
{
    <div class="accordion" data-accordion role="tablist">
        <div class="accordion-navigation">
            <a href="#schedulePanel" role="tab" id="schedulePanel-heading" aria-controls="schedulePanel">@scheduleString</a>
            <div id="schedulePanel" class="content active" role="tabpanel" aria-labelledby="schedulePanel-heading">
                @Model.Schedule
            </div>
        </div>
    </div>
}
@if (!string.IsNullOrEmpty(Model.Syllabus))
{
    <div class="accordion" data-accordion role="tablist">
        <div class="accordion-navigation">
            <a href="#syllabusPanel" role="tab" id="syllabusPanel-heading" aria-controls="syllabusPanel">@syllabusString</a>
            <div id="syllabusPanel" class="content active" role="tabpanel" aria-labelledby="syllabusPanel-heading">
                @Model.Syllabus
            </div>
        </div>
    </div>
}