@model UniversityWebsite.Model.SubjectVm
@{
    Layout = null;
}

@{
    string newsString = GetPhrase("news");
    string scheduleString = GetPhrase("schedule");
    string syllabusString = GetPhrase("syllabus");
    string filesString = GetPhrase("files");
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
        .accordion .accordion-navigation {
            margin-bottom: 20px !important;
        }
    </style>
}

<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="@Url.Action("Index", "Home")"><i class='fi-home'></i></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="right"></ul>

        <ul class="left">
            <li><a href="#@newsString">@newsString</a></li>
            <li><a href="#@scheduleString">@scheduleString</a></li>
            <li><a href="#@syllabusString">@syllabusString</a></li>
            <li><a href="#@filesString">@filesString</a></li>
        </ul>
    </section>
</nav>

<h2>@Model.Name</h2>

<div class="large-12 columns">
    <div class="panel">
        <h5 name="@newsString"><a name="@newsString" href="#panel1a">@newsString</a></h5>
        @Model.News
    </div>
    <div class="panel">
        <h5 name="@newsString"><a name="@scheduleString" href="#panel2a">@scheduleString</a></h5>
        @Model.Schedule
    </div>
    <div class="panel">
        <h5 name="@newsString"><a name="@syllabusString" href="#panel3a">@syllabusString</a></h5>
        @Model.Syllabus
    </div>
    <div class="panel">
        <h5 name="@newsString"><a name="@filesString" href="#panel4a">@filesString</a></h5>
        Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
</div>

