@model UniversityWebsite.Model.SubjectVm
@{
    Layout = null;
}

@{
    string newsString = GetPhrase("news");
    string scheduleString = GetPhrase("schedule");
    string syllabusString = GetPhrase("syllabus");
    string filesString = GetPhrase("files");
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
        div.section:nth-child(2n+1) {
            background: #f7f7f7;
        }

        .section {
            padding: 1rem 0.1rem;
        }

        .section-footer {
            border-top: 2px solid gray;
        }
    </style>
}

<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="@Url.Action("Index", "Home")"><i class='fi-home'></i></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="right"></ul>

        <ul class="left">
            <li><a href="#@newsString">@newsString</a></li>
            <li><a href="#@scheduleString">@scheduleString</a></li>
            <li><a href="#@syllabusString">@syllabusString</a></li>
            <li><a href="#@filesString">@filesString</a></li>
        </ul>
    </section>
</nav>

<h2>@Model.Name</h2>
@if (Model.News.Count > 0)
{
    <div class="row section">
        <div class="medium-12 columns">
            <div class="row">
                <div class="medium-12 columns">
                    <h3><a id="@newsString">@newsString</a></h3>
                </div>
            </div>

            <div class="row">
                <div class="medium-12 columns">
                    @foreach (var news in Model.News)
                    {
                        Html.RenderPartial("Sections/_News", news);
                    }
                    <div class="row">
                        <div class="medium-12 columns">
                            <div class="section-footer">
                                <a>‹ Previous</a>  <a>1</a> <a>2</a>  <a>Next ›</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (!string.IsNullOrEmpty(Model.Schedule))
{
    <div class="row section">
        <div class="medium-12 columns">
            <div class="row">
                <div class="medium-12 columns">
                    <h3><a id="@scheduleString">@scheduleString</a></h3>
                </div>
            </div>

            <div class="row">
                <div class="medium-12 columns">
                    @Html.Raw(Model.Schedule)
                </div>
            </div>
        </div>
    </div>
    
}
@if (!string.IsNullOrEmpty(Model.Syllabus))
{
    <div class="row section">
        <div class="medium-12 columns">
            <div class="row">
                <div class="medium-12 columns">
                    <h3><a id="@syllabusString">@syllabusString</a></h3>
                </div>
            </div>

            <div class="row">
                <div class="medium-12 columns">
                    @Html.Raw(Model.Syllabus)
                </div>
            </div>
        </div>
    </div>
}
@if (Model.Files.Count > 0)
{
    <div class="row section">
        <div class="medium-12 columns">
            <div class="row">
                <div class="medium-12 columns">
                    <h3><a id="@filesString">@filesString</a></h3>
                </div>
            </div>

            <div class="row">
                <div class="medium-12 columns">
                    @foreach (var file in Model.Files)
                    {
                        <ul>
                            <li>
                                <span>
                                    <a href="/api/file/@file.Id">@file.Name</a><br/>
                                    version: @file.Version
                                </span>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
}