@using System.Threading
@model UniversityWebsite.Model.SubjectVm
@{
    Layout = null;
}

@{
    string newsString = GetPhrase("news");
    string scheduleString = GetPhrase("schedule");
    string syllabusString = GetPhrase("syllabus");
    string filesString = GetPhrase("files");
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
    </style>
}

<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="@Url.Action("Index", "Home")"><i class='fi-home'></i></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="right"></ul>

        <ul class="left">
            <li><a href="#@newsString">@newsString</a></li>
            <li><a href="#@scheduleString">@scheduleString</a></li>
            <li><a href="#@syllabusString">@syllabusString</a></li>
            <li><a href="#@filesString">@filesString</a></li>
        </ul>
    </section>
</nav>

<h2>@Model.Name</h2>
@*@if (Model.News.Count > 0)
{
    <div class="accordion" data-accordion role="tablist">
        <div class="accordion-navigation">
            <a href="#panel1d" role="tab" id="panel1d-heading" aria-controls="panel1d">@newsString</a>
            <div id="panel1d" class="content active" role="tabpanel" aria-labelledby="panel1d-heading">
                @foreach (var news in Model.News)
                {
                    Html.RenderPartial("_News",news);
                }
            </div>
        </div>
    </div>
}*@
@if (!string.IsNullOrEmpty(Model.Schedule))
{
    <div class="accordion" data-accordion role="tablist">
        <div class="accordion-navigation">
            <a href="#panel1d" role="tab" id="panel1d-heading" aria-controls="panel1d">@scheduleString</a>
            <div id="panel1d" class="content active" role="tabpanel" aria-labelledby="panel1d-heading">
                @Model.Schedule
            </div>
        </div>
    </div>
}
@if (!string.IsNullOrEmpty(Model.Syllabus))
{
    <div class="accordion" data-accordion role="tablist">
        <div class="accordion-navigation">
            <a href="#panel2d" role="tab" id="panel2d-heading" aria-controls="panel2d">@syllabusString</a>
            <div id="panel2d" class="content active" role="tabpanel" aria-labelledby="panel2d-heading">
                @Model.Syllabus
            </div>
        </div>
    </div>
}