@using System.Web.Services.Protocols
@model UniversityWebsite.Model.PageViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/foundation/foundation.js"></script>
    <script src="~/Scripts/foundation/foundation.alert.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: "#my_editor",
            theme: "modern",
            height: 300,
            plugins: ["image"],
            //file_browser_callback: function (field_name, url, type, win) {
            //    if (type == 'image') $('#my_form input').click();
            //}
        });
    </script>
}
@*<script>
    function uploadSuccess(data) {
        $('.mce-btn.mce-open')
            .parent()
            .find('.mce-textbox')
            .val( "/File/Index?id=" + data.id);
            //.closest('.mce-window')
            //.find('.mce-primary')
            //.click();
    }
</script>*@
<h2>@Model.Title</h2>
@using (Ajax.BeginForm("Edit", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "post",
    OnFailure = "$('#edit-failure').removeClass('hide');",
    OnSuccess = "$('#edit-success').removeClass('hide');",
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(p => p.Title)
    @Html.HiddenFor(p => p.CountryCode)
    @Html.TextAreaFor(p => p.Content, new { id = "my_editor" })
    <p>
        <input type="submit" value="Submit" class="button"/>
    </p>
}
@*<textarea id="my_editor"></textarea>
<iframe id="form_target" name="form_target" style="display:none"></iframe>
<form id="my_form" action="/File/Upload" target="form_target" method="post" enctype="multipart/form-data" style="width:0;height:0;overflow:hidden">
    <input name="image" type="file" onchange="$('#my_form').submit();this.value='';">
</form>*@
@*<form  action="#" method="post" enctype="multipart/form-data">
    <input name="image" type="file" onchange="this.value='';sub();">
</form>*@
<div id="edit-success" data-alert class="alert-box success hide">
    Zaktualizowano
    <a href="#" class="close">&times;</a>
</div>

<div id="edit-failure" data-alert class="alert-box alert hide">
    Wystąpił błąd
  <a href="#" class="close">&times;</a>
</div>
