@using System.Web.Services.Protocols
@model UniversityWebsite.ViewModels.PageViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/foundation/foundation.js"></script>
    <script src="~/Scripts/foundation/foundation.alert.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: "textarea",
            theme: "modern",
            height: 300
        });
    </script>
}
<h2>@Model.Name</h2>
@using (Ajax.BeginForm("Edit", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "post",
    OnFailure = "$('#edit-failure').removeClass('hide');",
    OnSuccess = "$('#edit-success').removeClass('hide');",
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(p => p.Name)
    @Html.HiddenFor(p => p.Language)
    @Html.TextAreaFor(p => p.Content, new { id = "mytextarea" })
    <p>
        <input type="submit" value="Submit" />
    </p>
}

<div id="edit-success" data-alert class="alert-box success hide">
    Zaktualizowano
    <a href="#" class="close">&times;</a>
</div>

<div id="edit-failure" data-alert class="alert-box alert hide">
    Wystąpił błąd
  <a href="#" class="close">&times;</a>
</div>
