@model UniversityWebsite.ViewModels.MenuViewModel
<nav class="main-menu">
    <ul>
        @*<li id="home"><a href="stronaglowna"><i class="icon-home"></i></a></li>*@
        <li>
            <a class="ext_link" href="@Url.Action("Index", "Home")" title="Home">Home</a>
        </li>

        @foreach (var menuItem in Model.MenuItems)
        {
            
            <li>
            @{
                string href = Url.Action("Index", "Page", new {pagename = menuItem.Href});
            }
                <a class="ext_link" href="@href" title="@menuItem.Title">@menuItem.Text</a>
            </li>
        }
        <li>
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </li>
        @Html.Partial("_LoginPartial")
    </ul>

</nav>
