@model UniversityWebsite.ViewModels.ChangePasswordViewModel
@{
    var oldPasswordString = GetPhrase("oldPassword");
    var newPasswordString = GetPhrase("newPassword");
    var confirmNewPasswordString = GetPhrase("confirmNewPassword");
    ViewBag.Title = GetPhrase("changePassword");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center row">
    <p class="title" data-section-title><a href="#">@ViewBag.Title</a></p>
    <div class="content" data-section-content>
        <div class="row">
            <div class="large-12 columns">

                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row collapse">
                        <div class="small-12 columns">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = @oldPasswordString })
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-12 columns">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = @newPasswordString })
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = @confirmNewPasswordString })
                        </div>
                    </div>
                    <input type="submit" value="Change password" class="button small" />
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}