@model UniversityWebsite.Model.HomeVm
@{
    string homeString = GetPhrase("home");
    var teachingString = GetPhrase("teaching");
    ViewBag.Title = homeString;
    string lang = (string)ViewData["lang"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {

    <style>
        .card {

            margin-top: 20px;
        }
    .top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
        background: #003C58;
    }
</style>
}
@{Html.RenderPartial("~/Views/Shared/_NavMenu.cshtml", Model.Siblings);}
<h2>@GetPhrase("welcome")</h2>

<form enctype="multipart/form-data" action="/api/file/gallery" method="post">
    <input type="file" name="myFile"/><br/>
    <button type="submit"></button><br/>
</form>

@foreach(var page in Model.Tiles)
{   
    <div class="medium-4 columns">
        <div class="card">
            @*<a href="@page.UrlName"><img src="http://www.klbjfm.com/sites/g/files/exi626/f/article-images-featured/267731-147736.jpg"/></a>*@
            <a href="@page.UrlName"><img src="https://www.pw.edu.pl/var/pw/storage/images/studenci/aktualnosci/swiatowy-tydzien-przedsiebiorczosci-w-biurze-karier-pw/131705-1-pol-PL/Swiatowy-Tydzien-Przedsiebiorczosci-w-Biurze-Karier-PW.jpg" /></a>
            <div class="card-divider"></div>
            <div class="content">
                <span class="title">@page.Title</span>
                <p>@page.Description</p>
            </div>
        </div>
    </div>
}



