@model UniversityWebsite.Model.LoginViewModel
@{
    var logInString = GetPhrase("logIn");
    var passwordString = GetPhrase("password");
    var emailString = GetPhrase("email");
    ViewBag.Title = logInString;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>


</style>


<div class="center row">        
    <p class="title" data-section-title><a href="#">@logInString</a></p>
    <div class="content" data-section-content>
    <p><div class="row">
        <div class="large-12 columns">
            <div class="signup-panel">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {  
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <span class="prefix"><i class="fi-mail"></i></span>
                        </div>
                    
                        <div class="small-10  columns">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder=emailString})
                        </div>
                    </div>

                    <div class="row collapse">
                        <div class="small-2 columns ">
                            <span class="prefix"><i class="fi-lock"></i></span>
                        </div>
                        <div class="small-10 columns ">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder=passwordString })
                        </div>
                    </div>
                    <input type="submit" value="@logInString" class="button" />
                }
            </div>
        </div>
        </div>
    </p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}