@model UniversityWebsite.Model.ResetPasswordViewModel
@{
    var resetPasswordTitleString = GetPhrase("resetPasswordTitle");
    var emailString = GetPhrase("email");
    var passwordString = GetPhrase("password");
    var confirmString = GetPhrase("confirm");
    ViewBag.Title = resetPasswordTitleString;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="center row">
    <p class="title" data-section-title><a href="#">@resetPasswordTitleString</a></p>
    <div class="content" data-section-content>
            <div class="row">
                <div class="large-12 columns">
                    <div class="signup-panel">
                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row collapse">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.Code)

                                </div>
                            <div class="row collapse">
                                <div class="small-2 columns">
                                    <span class="prefix"><i class="fa fa-user"></i></span>
                                </div>

                                <div class="small-10  columns">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = emailString })
                                </div>
                            </div>

                            <div class="row collapse">
                                <div class="small-2 columns ">
                                    <span class="prefix"><i class="fa fa-lock"></i></span>
                                </div>
                                <div class="small-10 columns ">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = passwordString })
                                </div>
                            </div>
                            <div class="row collapse">
                                <div class="small-2 columns ">
                                    <span class="prefix"><i class="fa fa-lock"></i></span>
                                </div>
                                <div class="small-10 columns ">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = confirmString })
                                </div>
                            </div>
                            <div class="row collapse">
                                <input type="submit" value="@resetPasswordTitleString" class="button" />
                            </div>
                        }
                    </div>
                </div>
            </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}